<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <form action="/student" method="post">
            <label>Name
                <input name="name" type="text" class="input">
            </label>
            <label>Age
                <input name="age" type="number" class="input">
            </label>
            <label>Average Mark
                <input name="averageMark" type="number" class="input">
            </label>
            <button type="submit">New Student</button>
        </form>
    </body>

</html>