<!DOCTYPE html>
<html>

  <head>
    <title>
      home
    </title>
    <link rel='stylesheet' href='/stylesheet/css/style.css' />
  </head>

  <body>
    <h1>Вітаю на нашому сайті!</h1>
    <hr>
    <nav>
      <a href="/cars">Перейти до списку наших автомобілів</a>
    </nav>
    <br>
  </body>


</html>