<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <form action="/courses/form" method="post">
            <label>title
                <input name="title" type="text" class="input">
            </label>
            <label>lifeTime
                <input name="lifeTime" type="number" class="input">
            </label>
            <label>student
                <select name="students" multiple>
                    <% students.forEach(student=> { %>
                        <option value="<%= student._id%>">
                            <%= student.name%>
                        </option>
                        <%})%>
                </select>
            </label>
            <label>student
                <select name="seminars">
                    <% seminars.forEach(seminar=> { %>
                        <option value="<%= seminar._id%>">
                            <%= seminar.theme%>
                        </option>
                        <%})%>
                </select>
            </label>
            <button type="submit">New course</button>
        </form>
    </body>

</html>