<!DOCTYPE html>
<html>

  <head>
    <title>
      home
    </title>
    <link rel='stylesheet' href='/stylesheet/css/style.css' />
  </head>

  <body>

    <main>
      <div class="wrapper">
        <section class="welcome">
          <div class="welcome__container">
            <h1 class="welcome__title">Вітаю на нашому сайті!</h1>
            <a class="welcome__link" href="/product/list"><button class="button">Перейти до списку наших продуктів</button></a>
            <a class="welcome__link" href="/product"><button class="button">Перейти до форми</button></a>

            <a class="welcome__link" href="/users/login"><button class="button">Перейти до login</button></a>
          </div>
        </section>
      </div>
    </main>
  </body>


</html>