<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register page</title>
  </head>

  <body>
    <hr />

    <!-- enctype="multipart/form-data" -->
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Name" value="" />
      <input type="email" name="email" placeholder="Email" value="" />
      <input type="password" name="password" placeholder="Password" value="" />

      </div>
      <button type="submit">Register</button>
    </form>
  </body>

</html>