<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>car</title>
    </head>

    <body>
        <section>
            <div>
                <h4>
                    <%=car.name %>
                </h4>
                <img style="width: 300px;" src="<%=car.img  %>" alt="Image">
                <p>
                    <%=car.brand %>
                </p>
                <p>
                    <%=car.dataRealise %>
                </p>
            </div>
        </section>
    </body>

</html>