<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <form action="/student" enctype="multipart/form-data" method="post">
            <label>Name
                <input type="text" value="" class="input">
            </label>
            <label>Age
                <input type="number" value="" class="input">
            </label>
            <label>Average Mark
                <input type="number" value="" class="input">
            </label>
            <button type="submit">New Student</button>
        </form>
    </body>

</html>